@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
  background-color: #333;
  color: #333;
  font-family: 'Ralewat',sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
